
    <html>
        <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="/static/style.css">

        </head>
        <body>

        <div class="container-fluid">

        	<h1>places</h1>
        	<center>
        	<div class="places">
        		<h2>Bin No. 220</h2>
        		
        		 220 Front St (Beekman and Peck Slip) New York, NY 10038 United States
        	</div>
        	<p></p>
        	<div class="places">
        		<h2>Keg No. 229</h2>
        		
        		 229 Front St (Beekman &amp; Peck Slip) New York, NY 10038 United States
        	</div>
        	</center>
    	</div>

        </body>
    </html>