<html>
	<head>
		<title> Foodifai</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="container-fluid">
						<img src="\static\circle.svg" width="10%" height="10%">
			<h1>Foodifai</h1>
			<p></p>
			<form action = "/tags" method = "get">
				ENTER URL: <input type"text" name="url">
				<p></p>
				ENTER ADDRESS: <input type="text" name="address">
				<input type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>